<main class="main">
    <div class="header">
        <div class="logo">
            <img src="../../../../assets/logo/logo.svg" alt="">
        </div>
        <div class="logout">
            <button mat-flat-button color="warn" (click)="cerrarSesion()">Cerrar sesión</button>
        </div>
    </div>

    <div class="content-container">
        <div class="text-container">
            <h2>¡Bienvenido {{usuario}}!</h2>
            <p>¡Desde TODO-IT te deseamos una <br> excelente jornada de trabajo!</p>
        </div>

        <div class="options-container">
            <div class="left-options">
                <div class="admin-option" (click)="goToPage('../dashboard/registro')">
                    <img src="../../../../assets/icons/dashboard/registro-icon.svg" alt="">
                    <p>Registro</p>
                </div>
                <div class="admin-option" (click)="goToPage('../dashboard/historial')">
                    <img src="../../../../assets/icons/dashboard/historial-icon.svg" alt="">
                    <p>Historial</p>
                </div>
            </div>
            <div class="right-options">
                <div class="admin-option" (click)="goToPage('../dashboard/viajes')">
                    <img src="../../../../assets/icons/dashboard/viajes-icon.svg" alt="">
                    <p>Viajes</p>
                </div>
                <div class="admin-option" (click)="goToPage('../dashboard/listas')">
                    <img src="../../../../assets/icons/dashboard/listas-icon.svg" alt="">
                    <p>Listas</p>
                </div>
            </div>
        </div>
    </div>
</main>
