<footer class="footer">
    <div class="footer-container">
        <div class="footer-icon" id="home-icon" (click)="goToPage('dashboard/home')">
            <img src="../../../../assets/icons/homeIcon.svg" alt="">
            <p>Inicio</p>
        </div>
        <div class="footer-icon" id="viajes-icon" (click)="goToPage('dashboard/viajes')">
            <img src="../../../../assets/icons/viajesIcon.svg" alt="">
            <p>Viajes</p>
        </div>
        <div class="footer-icon" id="historial-icon" (click)="goToPage('dashboard/historial')">
            <img src="../../../../assets/icons/historialIcon.svg" alt="">
            <p>Historial</p>
        </div>
    </div>
</footer>