<main class="main">
    <app-nav-menu></app-nav-menu>
    
    
    <div class="content-container">
        <div class="text-container">
            <h2>Lista de usuarios</h2>
            <p>Detalle de los usuarios activos en el sistema, puedes <br> editar su informacion y/o eliminarlos</p>
        </div>
        <div class="content">
            <div class="select">
                <mat-form-field appearance="outline">
                    <mat-label>Selecciona un estado</mat-label>
                    <mat-select [(value)]="typeUser">
                        <mat-option value=1 (click)="changeTypeUser(1)">Todos los usuarios</mat-option>
                        <mat-option value=2 (click)="changeTypeUser(2)">Clientes</mat-option>
                        <mat-option value=2 (click)="changeTypeUser(3)">Cadetes</mat-option>
                        <mat-option value=2 (click)="changeTypeUser(4)">Administradores</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let rowData">{{rowData.fullName || "Sin nombre"}}</td>
                    </ng-container>
                    <ng-container matColumnDef="rol">
                        <th mat-header-cell *matHeaderCellDef>Rol</th>
                        <td mat-cell *matCellDef="let rowData">{{getRol(rowData.rol.id)}}</td>
                    </ng-container>
                    <ng-container matColumnDef="direccion">
                        <th mat-header-cell *matHeaderCellDef>Direccion</th>
                        <td mat-cell *matCellDef="let rowData">{{rowData.address}}</td>
                    </ng-container>
                    <ng-container matColumnDef="telefono">
                        <th mat-header-cell *matHeaderCellDef>Telefono</th>
                        <td mat-cell *matCellDef="let rowData">{{rowData.cellPhone}}</td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Email</th>
                        <td mat-cell *matCellDef="let rowData">{{rowData.email}}</td>
                    </ng-container>
                    <ng-container matColumnDef="vehiculo" class="mat-sort-header-container">
                        <th mat-header-cell *matHeaderCellDef>Vehiculo</th>
                        <td mat-cell *matCellDef="let rowData">{{getVehiculo(rowData)}}</td>
                    </ng-container>
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef>Accion</th>
                        <td mat-cell *matCellDef="let rowData">
                            <button class="action-button" mat-raised-button color="primary" (click)="modificarUsuario(rowData)">
                                <img src="../../../../assets/icons/dashboard/listasPencil-icon.svg" alt="">
                            </button>
                            <button class="action-button" mat-raised-button color="warn" (click)="borarUsuario(rowData)">
                                <img src="../../../../assets/icons/dashboard/listasTrash-icon.svg" alt="">
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 15, 25 ,50 , 100]" 
                               showFirstLastButtons 
                               aria-label="Select page of users">
                </mat-paginator>
            </div>
        </div>
    </div>
</main>