<main class="main">
    <div class="container" id="logoContainer">
            <img src="../assets/logo.svg"> 
    </div>

    <div class="container" id="content">
        <div class="text-container">
            <h1>¿Por qué elegir <span id="titleColored">TODO-IT</span>?</h1>

            <p>Somos una empresa de venta y reparacion de insumos informaticos que hace más de 30 años
                estamos posicionados en el mercado, brindando estabilidad, soporte y respaldo a miles
                de clientes sobre sus productos.
            </p>
        </div>

        <div class="container" id="mainButton">
            <p>Se parte de la experiencia TODO-IT, la empresa lider en tecnologia de Latinoamérica</p>
            <button mat-raised-button >
                <a routerLink="../login" >¡Inicia sesión ahora!</a>
            </button>
        </div>
    </div>
</main>
<app-footer></app-footer>